@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales para eliminar márgenes y bordes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  /* quito overflow:hidden para permitir scroll interno */
  overflow: auto;
  background-color: #1A1A2E;
 /* quito overflow:hidden para permitir scroll interno */
  overflow: auto;
  background-color: #1A1A2E;
}